.project-form-container, .project-input-container {
  
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
}

.project-form-container {
  margin: auto;
  width: 75%;
  min-height: 788px;
  box-shadow: 0 -1px 10px rgba(0,0,0,0.05), 0 1px 4px rgba(0,0,0,0.1), 0 10px 30px #f3ece8;;
  padding: 50px;
}

.project-input-container {
  display: flex;
  align-items: center;
  margin-top: 40px;
  width: 595px;
}

.project-input-container.projectEdit {
  width: 680px;
  margin-top: 5px;
}

.project-input-container > h3 {
  width: 100%;
  background-color: white;
  margin-top: 20px;
  margin-left: -15px;
}

.toolbox-header.project-edit {
  border-bottom: 2px solid black;
}

.project-edit-header-center {
  font-size: 33px;
}

.project-input-container > h3 > label {
  display: flex;
  font-weight: bold;
  font-size: 19px;
  margin-bottom: 10px;
  background-color: white;
}

.project-input-container > input, .project-input-container > textarea {
  width: 98%;
  background-color: transparent;
  padding: 10px;
  border-style: none;
  border: 1px solid rgb(217, 217, 217);
  border-radius: 5px;
  vertical-align: top;
  font-size: 16px;
}

.project-input-container > input:focus, .project-input-container > textarea:focus {
  box-shadow: 0 0 6px #07a9f4;
  border-color: #07a9f4;
  outline: none;
}

.project-input-container > textarea {
  height: 90px;
  border-radius: 3px;
}

.project-form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.projectCreate-header {
  font-size: 24px;
  background-color: white;
}

.create-project-img-container {
  position: relative;
  width: 100px;
  height: 125px;
}

.create-project-img {
  position: absolute;
  width: 175px;
  bottom: 10px;
}

form.project-input-container.projectCreate > div > input.project-submit-button.projectCreate, 
form.project-input-container.projectEdit > div > input.project-submit-button.projectEdit {
  border: 1px solid rgb(84,162,104);
  border-radius: 20px;
  width: fit-content;
  background-color: rgb(84,162,104);
  padding: 10px 16px;
  color: white;
  font-size: 18px;
}

form.project-input-container > label {
  font-size: 18px;
  text-align: left;
}

.project-submit-button.projectCreate {
  display: flex;
  margin-top: 50px;
}

.project-submit-button-container.projectEdit {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

// input.project-submit-button.projectCreate {
//   display: flex;
//   align-items: center;
// }

input.project-submit-button.projectEdit {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
}

.project-delete-button {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
  border: 1px solid rgb(84,162,104);
  border-radius: 20px;
  font-size: 18px;
  color: rgb(84,162,104);
  padding: 10px 16px;
}