.newTodo-form {
  width: 100%;
}


// Todo Inputs
  .newTodo > input, .todo-description-input {
    font-size: 18px;
    font-weight: bold;
    width: 480px;
  }
  
  div.todo-description-row.newTodo, div.todo-notes-row.newTodo {
    width: 100%;
  }
// Todo Description Row
  .todo-checkbox.false.newTodo {
    text-align: right;
    margin-right: 10px;
    margin-left: 20px;
  }

  .todo-description-row.newTodo {
    display: flex;
  }


// Todo Notes Row  
  .todo-notes-input > label {
    text-align: right;
    margin: 0 5px;
  }

// Todo Submit
  .submit-todo-container {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
  }

  .submit-todo-container > input {
    display: flex;
    justify-content: center;
    background-color: #2ea561;
    border-radius: 20px;
    width: fit-content;
    height: 30px;
    width: fit-content;
    font-size: 14px;  
    border: none;
    color: white;
    padding: 1px 10px 2px;
  }

  .submit-todo-container > button {
    font-size: 14px;  
    border-radius: 20px;
    border-color: #2ea561;
    color: #2ea561;
    margin-left: 5px;
  }