.project-form-container, .project-input-container {
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
}

.project-form-container {
  width: 75%;
  min-height: 788px;
  box-shadow: 0 -1px 10px rgba(0,0,0,0.05), 0 1px 4px rgba(0,0,0,0.1), 0 10px 30px #f3ece8;;
  padding: 50px;
}

.project-input-container {
  display: flex;
  align-items: center;
  margin-top: 40px;
  width: 545px;
}

.project-input-container > h3 {
  width: 100%;
  background-color: white;
  margin-top: 20px;
}

.project-input-container > h3 > label {
  display: flex;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: white;
}

.project-input-container > input, .project-input-container > textarea {
  width: 98%;
  background-color: transparent;
  border-style: none;
  border: 1px solid rgb(217, 217, 217);
  vertical-align: top;
}

.project-input-container > textarea {
  height: 90px;
  border-radius: 3px;
}
.project-input-container > input:focus {
  box-shadow: 3px rgb(173, 210, 251);
}

.project-input-container > input:nth-child(4) {
  height: 50px;
}

.project-form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.projectCreate-header {
  font-size: 24px;
  background-color: white;
}

.create-project-img {
  width: 113px;
}

form.project-input-container > input.project-submit-button {
  border-radius: 20px;
  width: fit-content;
  background-color: rgb(84,162,104);
  padding: 8px 16px 8px 16px;
  color: white;
}

form.project-input-container > label {
  font-size: 18px;
  text-align: left;
}

input.project-submit-button {
  margin-top: 50px;
}