// Place all the styles related to the api/projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.projects {
  display: flex;
  flex-direction: column;
}

.project-index-item-container, .project-index-item-li, .project-index-item-name, .project-index-item-description {
  background-color: rgb(255, 255, 255);
}

.projects-ul {
  display: flex;
  flex-direction: column;
}

.project-index-item-li, .project-index-item-container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 2px 25px 20px 25px;
  margin-bottom: 20px;
  width: 570px;
  height: 180px;
  align-self: center;
  color: black;
}

.project-index-item-container {
  box-shadow: 0 -1px 10px rgba(0,0,0,0.05), 0 1px 4px rgba(0,0,0,0.1), 0 10px 30px #f3ece8;;
}

.edit-project {
  
  display: flex;
  align-self: flex-end;
  color: rgb(179,179,179);
  font-weight: bolder;
  font-size: 20px;
  z-index: 5;
}

.project-index-item-name {
  padding-top: 5px;
  margin-bottom: 3px;
  font-size: 23px;
}

.projects-header {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.create-project-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-project-a {
  display: flex;
  flex-direction: column;
}
.plus, .plus-text {
  text-align: center;  
  // display: flex;
}

.plus {
  color: rgb(84, 162, 104);
  font-size: 100px;
  font-weight: lighter;
}

.plus-text {
  font-size: 16px;
  color: #283c46;
}