// Place all the styles related to the api::sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form.session-form > input:last-child {
  color: white;
  background-color: rgb(84,162,104);
  padding: 8px 16px 8px 16px;
  width: 354px;
  margin: 0 auto;
  border: 1px solid rgb(84,162,104);
}

.session-form-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: auto;
  border: 1px solid grey;
  border-radius: 10px;
  width: 400px;
}

.input-container {
  border: 1px solid rgb(217, 217, 217);
  border-radius: 5px;
  background-color: white;
  padding: 0 4px;
  position: relative;
  margin-bottom: 5px;
}

.input-container:active .input-label {
  transform: translate(0, 4px) scale(.75);
}

.input-label {
  background-color: rgba(245, 245, 245, 0);
  position: absolute;
  font-size: 16px;
  transform: translate(0, 16px) scale(1);
  transform-origin: top left;
  transition: all ls ease-in-out;
}

.input-form {
  border: none;
  outline: 0;
  font-size: 16px;
  border-style: none;
  padding: 16px 0 10px;
  width: 100%;
}

.session-form {
  display: flex;
  flex-direction: column;
  padding: 0px 30px 30px 30px;
  background-color: white;
  border-bottom-color: 1px solid rgb(217, 217, 217);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.formType-header {
  padding: 30px;
  margin: 0 auto;
  background-color: transparent;
}

.Sig-button {
  margin: auto;
  border-radius: 20px;
}
.Log-button {
  
}

form > input {
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
}

form > label {
  position: relative;
  top: 10px;
}