// Place all the styles related to the api::sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form > input:last-child {
  color: white;
  background-color: rgb(84,162,104);
  padding: 8px 16px 8px 16px;
  width: 354px;
  margin: 0 auto;
  border: 1px solid rgb(84,162,104);
}

.session-form-container {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  margin: auto;
  border: 1px solid grey;
  border-radius: 10px;
  width: 400px;
}

.session-form-container form, .formType-header {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.formType-header {
  margin: 0 auto;
}

.Sig-button {
  margin: auto;
  border-radius: 20px;
}
.Log-button {
  
}

form > input {
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
}

form > label {
  position: relative;
  top: 10px;
}