.splash-container {
  display: flex;
  justify-content: center;
  background-color: white;
  height: 1600px;
}

.splash-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  text-align: center;
}

.splash-header-container > h2, .splash-info-container > p {
  margin-top: 30px;
  color: #1d2d35;
}

.splash-header-container {
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 2;
}

.splash-header-container > h2 {
  font-size: 72px;
  font-weight: bold;
}

.bold-p {
  background-color: transparent;
}

.splash-info-container {
  display: flex;
  justify-content: center;
}

.splash-info-container > p {
  line-height: 25px;
  margin-bottom: 45px;
  font-size: 22.5px;
  width: 80%;
}


.signup {
  width: 400px;
}

.signup-button-container > a {
  background-color: #fed737;
  color: #1d2d35;
  font-weight: bold;
  width: 280px;
  padding: 10px 60px 10px 60px;
  font-size: 20px;
}

.signup-button-container > a:hover {
  background-color: black;
  color: #fed737;
}


.user-count {
  margin-top: 25px;
  font-size: 90%;
  // width: fit-content;
}