.splash-content {
  width: 60%;
  margin: auto;
  text-align: center;
  
}

.splash-content > h2, .splash-content > p, .splash-content > p {
  margin-top: 10px;
}

.splash-content > h2 {
  font-size: 60px;
}

.bold-p {
  background-color: transparent;
}

.splash-content > p {
  line-height: 25px;
  margin-bottom: 45px;
  font-size: 20px;
}


// .signup {
//   width: fit-content;
// }

.signup > a {
  background-color: #fbe04c;
  color: black;
  font-weight: bold;
  padding: 10px 60px 10px 60px;
  font-size: 20px;
}


.user-count {
  margin-top: 25px;
  font-size: 90%;
  // width: fit-content;
}