// Place all the styles related to the api/todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.todo-checkbox {
  cursor: pointer;
  font-size: 28px;
  margin-right: 10px;
}

.todo-checkbox.false {
  color: #c5c5c5;
}

.todo-checkbox.true {
  color: rgb(84, 162, 104);
}

.todo-item-description.true {
  text-decoration: line-through;
}