// Place all the styles related to the api/todo_lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.todo-lists-ul {
  list-style: none;
  margin-top: 20px;
}

.todo-lists-li {
  margin-bottom: 40px;
}

.toolbox-header-bordered.todo-list-index {

}

.toolbox-header-center.todo-list-index {
  display: flex;
  flex-direction: row;
}

.toolbox-header-center.todo-list-index > h1, .toolbox-header-center.todo-list-index > h4 {
  display: flex;
  margin: 5px;
  align-items: flex-end;
}

.toolbox-header-center.todo-list-index > h4 {
  font-size: 10px;
  font-weight: normal;
}
.toolbox-header-left.todo-list-index {
  position: relative;
}

.todo-list-title.index > a > p {
  margin-left: 20px;
}

.toolbox-body.todo-list-index {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 125px 125px 125px;
  width: 650px;
}

.todolist-checkbox {
  cursor: pointer;
}

.todolist-checkbox.false.index {
  width: 20px;
  height: 20px;
}

.todolist-checkbox.true.index {

}

.expanding-form.hidden {
  display: none;
  align-self: center;
}

.expanding-form.revealed {
  display: flex;
  padding: 15px 30px;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 580px;
  height: 100px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.todo-item-description.index {
  font-size: 15px;
}