// Place all the styles related to the api/todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.todo-checkbox {
  margin-right: 10px;
}

.todo-checkbox.newTodo, .todo-checkbox.index, .todo-checkbox.show {
  font-size: 28px;
  cursor: pointer;
}

.todo-checkbox.false {
  color: #c5c5c5;
}

.todo-checkbox.true {
  color: rgb(84, 162, 104);
}

.todo-item-description.true {
  text-decoration: line-through;
}

// Todo Show

.toolbox-header-bordered.todo-show {
  border: none;
  height: fit-content;
}

.edit-todo-form.disabled {
  border: none;
}

.edit-todo-form {
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  background-color: transparent;
  padding: 10px 20px;
}

.edit-todo-form {
  fieldset {
  display: flex;
  background-color: transparent;
  }
}
  .todo-description-row.edit-todo {
    .todo-checkbox {
    font-size: 60px;
    }
  }

  .todo-notes-input.edit-todo > label > span, 
  .todo-description-row.edit-todo > .todo-checkbox {
    padding-left: 120px;
  }

  .todo-description-row.edit-todo {
    display: flex;
    align-items: center;
    background-color: transparent;
    padding-bottom: 10px;

    input {
      border: none;
      margin-left: 5px;
      font-size: 32px;
      font-weight: bold;
    }
  }

  .todo-notes-input.edit-todo {
    display: flex;
    align-items: center;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    padding: 10px 5px;
  
    input {
      border: none;
      padding-left: 10px;
      font-size: 16px;
    }
  }

  .submit-todo-container.edit-todo {
    padding-left: 120px;
    margin-bottom: 5px;
  }