footer {
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  height: 45px;
  width: 100%;
}

footer.user {
  background-color: #f7f2f0ba;
}

.footer-links-ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.footer-links-li {
  margin: 10px 10px;
}

.footer-links-li > a {
  font-size: 24px;
}

.footer-links-li:last-child > a {
  margin-left: 6px;
  font-size: inherit;
  text-decoration: underline;
  
}