.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 14px;
}

.nav-logo {
  display: flex;
  color: black;
}

.nav-logo.user {
  display: flex;
  color: #54a268;
}

.nav-logo-img, .nav-logo-title {
  margin: auto;
  margin-right: 5px;
}

h1.nav-logo-title {
  display: flex;
  font-size: 18px;
  font-weight: bold;
}

.nav-logo-img {
  height: 30px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  align-self: center;
}

.nav-links.new-user > li, .nav-links.new-user > li > a {
  display: flex;
  padding-right: 5px;
  justify-content: flex-end;
  color: black;
}

.nav-links.user > li, .nav-links.user > li > a {
  display: flex;
  padding-right: 15px;
  justify-content: space-around;
  color: #54a268;
}

.nav-right {
  display: flex;
  align-self: center;
}

.nav-links {
  // justify-content: space-around;
}

.user-initial {
  border: 1px solid rgb(245, 186, 105);
  border-radius: 180px;
  padding: 8px 8px;
  text-align: center;
  background-color: rgb(245, 186, 105);
  color: white;
  width: 16px;
  height: 16px;
}


.Log-a, .Sig-a {
  font-weight: bold;
  display: flex;
  padding: 7px 14px 7px 14px;
  border: 1px solid black;
  margin: auto;
}

.Sig-a {
  margin-left: 10px;
  background-color: black;
  color: white;
}

.Log-a {
  color: black;
}