.nav-container, .nav-container-user {
  position: sticky;
  top: 0;
  z-index: 27;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px;
  font-size: 14px;
  // background-color: ;
}

.nav-container-user {
  background-color: #f7f2f0ba;
  color: #2da562;
  height: 40px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.nav-container {
  background-color: rgba(255, 255, 255, 0.906);
  color: #1d2d35;
}

.nav-left {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  // justify-content: flex-start;
  margin-left: 15px;
}

  .nav-logo-link, .nav-logo-link-user {
    display: flex;    
  }

  .nav-logo-img, .nav-logo-img-user .nav-logo-title, .nav-logo-title-user {
    display: flex;
    align-items: center;
    justify-content: center;
    // margin: auto;
  }

  .nav-logo-title, .nav-logo-title-user {
    display: flex;
    // justify-content: center;
    // text-align: center;
    font-weight: bold;
  }
  
  .nav-logo-title {
    font-size: 24px;
    color: #1d2d35;
    margin-left: 15px;
    margin-top: 5px;
  }

  .nav-logo-title-user {
    font-size: 20px;
    color: #2da562;
    margin-left: -5px;
    margin-bottom: 5px;
  }

  .nav-logo-img-container {
    width: 50px;
    height: 50px;
  }

  .nav-logo-img, .nav-logo-img-user {
    position: relative;
  }


.nav-logo-img {
  bottom: 55px;
  right: 10px;
  height: 100px;
}

.nav-logo-img-user {
  bottom: 35px;
  right: 10px;
  height: 75px;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 25%;
  background-color: transparent;
}

.nav-links {
  display: flex;
}

.user-initial {
  border: 1px solid rgb(245, 186, 105);
  border-radius: 180px;
  padding: 8px 8px;
  text-align: center;
  background-color: rgb(245, 186, 105);
  color: white;
  width: 16px;
  height: 16px;
}

.Log-a, .Sig-a {
  font-weight: bold;
  font-size: 17px;
  display: flex;
  padding: 10px 15px 10px 15px;
  border: 2px solid #1d2d35;
  margin: auto;
}

.Sig-a {
  margin-left: 10px;
  background-color: #1d2d35;
  color: white;
}

.Log-a {
  color: #1d2d35;
}