.schedule-preview {
  position: relative;
}

.construction {
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  z-index: 3;
  font-size: 24px;
  width: fit-content;
  padding: 108px 75px;
  background-color: rgba(128, 128, 128, 0.664);
  color: white;
  text-align: center;
}

.toolbox-main, .toolbox-nav {
  background-color: white;
}

.toolbox-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f2f0;
}

.toolbox-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 850px;
  height: 40px;
  box-shadow: 0 -1px 10px rgba(0,0,0,0.05), 0 1px 4px rgba(0,0,0,0.1), 0 10px 30px #f3ece8;
  font-size: 16px;
}

.toolbox-nav > .fa-th-large {
  font-size: 14px;
  margin-right: 5px;
  color: transparent;
  text-shadow: 1px 1px 1px #fdd738;
}

.toolbox-nav > a {
  text-decoration: underline;
  color: #07a9f4;
}

.toolbox-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 -1px 10px rgba(0,0,0,0.05), 0 1px 4px rgba(0,0,0,0.1), 0 10px 30px #f3ece8;
  min-height: 100%;
  width: 820px;
  padding: 50px 50px 50px 50px;
  position: relative;
}

//////////// Toolbox Header ////////////
  .toolbox-header-bordered, .toolbox-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 740px;
    height: 38px;
    padding-bottom: 10px;
    margin: 0 -48px 20px -48px;
  }

  .toolbox-header-bordered {
    border-bottom: 3px solid rgb(40,60,70);
  }

  .toolbox-header {
    border-bottom: none;
  }

  .toolbox-header-left {
    width: 80px;
    // margin-left: 20px;
    text-align: left;
  }
    
  .toolbox-header-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

    .toolbox-header-center > h1 {
      font-size: 32px;
    }

    .toolbox-header-center > h3 {
      font-weight: normal;
      font-size: 18px;
      margin-top: 10px;
    }

    .toolbox-header-right {
      display: flex;
      justify-content: flex-end;
      width: 80px;
      margin-right: 20px;
      text-align: right;
    }

  .toolbox-body {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .toolbox-items-container {
    width: 100%;
    display: flex;
  }

  .toolbox-items-ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .toolbox-item-li {
    display: flex;
    flex-direction: column;
    // align-items: center;
  }

  .toolbox-edit-link-container {
    display: flex;
    width: 100%;
    background-color: transparent;
    padding: 4px 5px;
    position: relative;
  }

  .toolbox-edit-link {
    position: absolute;
    top: -35px;
    right: -30px;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: #283c46;
    font-weight: bolder;
    font-size: 23px;
    text-align: center;
    text-justify: center;
  }


