.toolbox-item-li {
  display: flex;
  border-radius: 10px;
  border: 1.2px solid #d9d9d9;
  padding: 18px 24px;
  width: 211px;
  height: 226px;
}

.toolbox-item-header {
  display: flex;
  align-self: center;
  padding: 18px 0 12px;
}

.toolbox-item-body {
  border-top: 1.4px solid #d9d9d9;
  padding: 10px 0 10px;
}

//////////// Messages Previews ////////////
.message-preview-ul {
  list-style: none;
}

.message-preview-li {
  display: flex;
  border-top: 1px solid #d9d9d9;
}

.message-preview-li:first-child {
  border-top: none;
}

//////////// Todos Preview ////////////

.todos-preview-ul {
  list-style: none;
}

.todolist-preview-ul {
  // margin-left: 15px;
  list-style: none;
}

.todos-preview-item {
  
}

//////////// Schedule Preview ////////////