.toolbox-item-li {
  display: flex;
  border-radius: 10px;
  border: 1.2px solid #d9d9d9;
  padding: 18px 24px;
  width: 211px;
  height: 226px;
  overflow: hidden;
  box-shadow: 0 0 3px #d9d9d9;
}

.toolbox-item-header {
  display: flex;
  align-self: center;
  padding: 5px 0 16px;
}

.toolbox-item-body {
  border-top: 1.4px solid #d9d9d9;
  padding: 10px 0 10px;
}

.empty-preview-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty-preview-wrapper > i {
  font-size: 64px;
  margin: 20px 0;
}

.empty-preview-wrapper > i.fa-check-square {
  color: lightblue;
}

.empty-preview-wrapper > i.fa-envelope-square {
  color: rgb(180, 0, 0);
}

.empty-preview-wrapper > p {
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

//////////// Todos Preview ////////////

.todo-preview-ul {
  list-style: none;
}

.todos-ul {
  // margin-left: 15px;
  list-style: none;
  margin-bottom: 10px;
}

.todos-item {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin: 5px 5px 0 0;
}

.todolist-checkbox.false {
  width: 15px;
  height: 15px;
  border-radius: 5px;
  border: 1px solid #bfbfbf;
  margin-right: 5px;
}

.todos-item > span {
  vertical-align: middle;
}

//////////// Schedule Preview ////////////

.event-preview-ul,
.event-preview-details {
  list-style: none;
}

.event-preview-ul {
  display: flex;
  flex-direction: column;
}

.event-preview-date:first-child {
  border-top: none;
}

.event-preview-date {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #d9d9d9;
  padding: 5px 0;
}

.event-preview-title {
  display: flex;
}

.fa-calendar-day {
  color: #07a9f4;
  font-size: 18px;
  margin-right: 5px;
}

.event-preview-title > h2 {
  font-size: 15px;
  padding-top: 2px;
}

.schedule-preview-date-details {
}

.preview-time {
  color: #6c6c6c;
}

.event-preview-details {
  font-size: 12px;
  margin-left: 20px;
}

.event-preview-details > li {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}
