<% action = (user.persisted? ? user_url(user) : users_url) %>
<% method = (user.persisted? ? "patch" : "post" %>
<% message = (user.persisted? ? "Update user" : "Create User") %>


<form action="<%= action %>" method="post">
  <input method="_method" type="hidden" value="<%= method %>">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>Email:
    <input type="text" name="user[email]">
  </label>
  <label>Password:
    <input type="password" name="user[password]">
  </label>
  <label>Name:
    <input type="text" name="user[name]">
  </label>
  <input type="submit" value="Submit">
</form>